$margin_1 : 3px;

#myBooks{
    font-family: 'Noto Sans JP', sans-serif;
    margin : $margin_1;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    
    .logo{
        margin-left: auto;
        margin-right: auto;
        width: 100px;
    }
    .title{
        padding: 5px 25px;
        box-shadow: 0 5px 5px gray;
        background: rgb(235, 232, 232);
        text-align: center;
        font-weight: lighter;
        margin: $margin_1;
    }
    h2{
        text-align: center;
        font-weight: bolder;
        margin: $margin_1;
        font-size: 12px;
    }

    hr {
        width: 100%;
        margin: $margin_1 0;
    }
    .js_div{
        display: flex;
        flex-direction: column;
        

        button{
            border: none;
            color: white;
            padding: 8px;
            width: 40%;
            border-radius: 3px;
            margin : $margin_1 auto $margin_1 auto;
        }
        
        .add_book_btn{
            background-color: rgb(19, 143, 124); 
        }
        .btn_recherche{
            background-color: rgb(19, 143, 124); 
            
        }
        .btn_annuler{
            background-color: rgb(255, 51, 0); 
        }
        
        label{
            font-size: 12px;
        }
        input{
            border : 1px solid #aaa;
            margin: 4px 0;
            font-size: 14px;
            padding: 8px;
        }

    }
    .nbr_results{
        font-weight: bold;
        margin: $margin_1;
    }
    .result_div{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

            [id^="book_card_"]{
                width: 49%;
                background-color: lightgray;
                border: 1px black solid;
                margin-bottom: $margin_1;
                font-size: 9px;

                [id^="book_head_"]{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    font-weight: bolder;
                    margin: $margin_1;
                }
                [class^="book_ID_"]{
                    font-weight: bolder;
                    font-style: italic;
                    margin: $margin_1;
                }
                [class^="book_Author_"]{
                    margin: $margin_1;
                }
                [class^="book_Description_"]{
                    margin: $margin_1;
                }
                [class^="Image_"]{
                    text-align: center;
                }
            }
    }
    .navigation{
        display: flex;
        flex-direction: row ;
        flex-wrap: wrap;
        justify-content: center;
        margin: $margin_1;
        .precedent{
            margin-left: $margin_1;
            margin-right: $margin_1;
        }
        .suivant{
            @extend .precedent;
        }
    }

    #content{
        text-align: center;
        font-weight: bolder;
        margin: $margin_1;
    }
    
    .list_poche{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        [id^="saved_card_"]{
            width: 49%;
            background-color: rgb(250, 198, 131);
            border: 1px black solid;
            margin-bottom: $margin_1;
            font-size: 9px;

            [id^="saved_book_head_"]{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                font-weight: bolder;
                margin: $margin_1;
            }
            [id^="saved_book_ID_"]{
                font-weight: bolder;
                font-style: italic;
                margin: $margin_1;
            }
            [id^="saved_book_Author_"]{
                margin: $margin_1;
            }
            [id^="saved_book_Description_"]{
                margin: $margin_1;
            }
            [class^="saved_Image_"]{
                text-align: center;
            }
        }

    }
    

}
